/*templates grid*/
body{
  margin:auto;
  /* background: linear-gradient(18deg, #ffffff, #a58fe9); */
  min-height:100%;
  display: flex;
  flex-direction: column;
}
.top{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap:30px;
  height: 8vh;
  margin: 30px 20px 20px;
}
.main{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  height:77vh;
  gap:30px;
  margin:auto 20px;
}
.sidebar{
  grid-column: 1;
}
.container{
  grid-column: 2;
}
.navigator{
  grid-column: 3;
}

/*top container*/
.top .container h1{
  text-align:center;
}


/*top navigator*/
.top .navigator .user-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
  border-radius: 10px;
  padding:0 10px;
}
.top .navigator .user-banner p{
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  grid-column:1;
  margin:auto;
}

.top .navigator .user-banner a{
  background-color: aquamarine;
  margin: auto;
  width:100px;
  font-size:1.2rem;
  font-weight: 800;
  color:black;
  text-decoration: none;
  border: 1px solid #ad17fe;
  grid-column:2;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0;
}
.top .navigator .user-banner a:hover{
  background-color: #17D4FE;
  color:white;
  cursor:pointer;
}

/* main container */
.main .menu{
  background-color: beige;
  margin:10px 10px 50px 10px;
  font-size:1.5rem;

}

.main .detail{
  background-color: black;
  color:white;
  margin:5px;
  text-align:center;
}

/*footer*/

.footer{
  margin-top:250px;
  background-color:azure;
  text-align: center;
  position: bottom;
}

.footer h5{
  font-size: 1rem;
  text-align: center;
  color:rgb(139, 139, 139);
}
.footer a{
  text-decoration: none;
  color:#1beabd
}


/*home.html*/
/*home.html - top container*/
.home-name{
  text-align: center;
  font-size: 3rem;
}

/*home.html - main container*/
.home-container{
  margin:50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5px;
  padding:5px;
  text-align: center;
  background-color: white;
  height: 80%;
}
.home-container .home-menu1{
  grid-column:1;
  background-color:rgb(215, 222, 250);
}
.home-container .home-menu2{
  grid-column: 2;
  background-color:rgb(239, 215, 250);
}
.home-container .home-menu3{
  grid-column: 3;
  background-color:rgb(215, 250, 244);
}

.home-container .home-menu1, .home-menu2, .home-menu3{
  width: 100%;
  height: 100%;
  display: flex;
}
.home-container a{
  font-size: 2rem;
  text-decoration: none;
  color:black;
  margin:auto;
  text-align: center;
}

.home-container a:hover{
  filter:brightness(70%);
  font-size:2.3rem;
}
.home-container .home-menu{
  margin:auto;
}


/*login.html*/
.register-login-title{
  background: linear-gradient(#10abff, #1beabd 5%, #10abff 40%);
  background-clip: text;
  background-color: #da1b60;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: TransitioningBackground 2s linear infinite;
  background-size: 100% 300%;
  font-size: 3rem;
}
.register-login h1{
  background: linear-gradient(#10abff, #1beabd 5%, #10abff 40%);
  background-clip: text;
  background-color: #da1b60;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: TransitioningBackground 2s linear infinite;
  background-size: 100% 300%;
}
@keyframes TransitioningBackground {
  0% {
      background-position: 100% 200%;
  }
  100% {
      background-position: 100% -100%;
  }
}
.register-login{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  text-align: center;
  margin-top:20px;
}
.register-login .register{
  grid-column:1;
}
.register-login .login{
  grid-column:2;
}
.register-login form{
  background-color:azure;
  border: #17D4FE 5px solid;
}
.register-login p{
  color:red;
  font-weight: 800;
}
.register-login .register h4{
  color:#17D4FE;
  font-weight: 800;
}
.register-login label{
  color:navy;
  font-size: 1rem;
  font-weight: 600;
  padding:0 30px;
  text-align: center;
}
.register-login input{
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.register-login button{
  background-color: aquamarine;
  color:navy;
  align-items: right;
  font-size: 1.2rem;
  padding:5px 10px;
  font-family:'Montserrat';
  font-weight: 600;
}
.register-login .submitbutton:hover{
  color:white;
  cursor: pointer;
  font-weight:600;
  background-color:#17D4FE;
}

/*register*/
.register .register-column{
  margin:20px;
}
.register input{
  width:350px;
}
.register button{
  margin:20px 0;
  border: 3px solid #17D4FE;
}
.register form{
  margin:0 120px;
}
.register .button-box{
  text-align: center;
}

/*login*/
.register-login-title{
  text-align: center;
}
.login form{
  margin:0px 100px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
.login .login-banner{
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-items: right;
}
.login .login-column{
  margin: 20px 0;
}
.login button {
  align-items: right;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  border-top: transparent;
  border-bottom: transparent;
  border-right: transparent;
  border-left: #17D4FE 5px solid;
}

/* detail.html - sidebar */
.detail-title{
  text-align: center;
  border-radius: 15px;
  margin-bottom: 30px;
}
#detail-bom-1{
  border:rgb(215, 222, 250) 5px dotted;
}
#detail-cost-1{
  border:rgb(239, 215, 250) 5px dotted;
}
#detail-vi-1{
  border:rgb(215, 250, 244) 5px dotted;
}
.detail-title .title{
  padding:10px;
  font-weight: 800;
  font-size: 1.2rem;
}
#detail-bom-2{
  border-bottom:rgb(215, 222, 250) 5px dotted;
}
#detail-cost-2{
  border-bottom:rgb(239, 215, 250) 5px dotted;
}
#detail-vi-2{
  border-bottom:rgb(215, 250, 244) 5px dotted;
}
.detail-title .model{
  font-size: 1rem;
  cursor:pointer;
  padding:10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}
.detail-title .model .model1{
  grid-row: 1;
}
.detail-title .model .model2{
  grid-row: 2;
}
.detail-title .model .model3{
  grid-row: 3;
}
.detail-title .model input{
  width: 100%;
  font-size: 1rem;
  background-color: #ffffff;
  border: #ffffff;
  padding:10px;
}
.detail-title .model input:hover{
  color:white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
}
#detail-bom-model:hover{
  background-color:rgb(80, 43, 226);
}
#detail-cost-model:hover{
  background-color:#bc13fe;
}
#detail-vi-model:hover{
  background-color:#13fea0;
}


/* detail.html - menu */
.detail-side{
  text-align: center;
  padding:3px 5px;
  border: 5px dotted pink;
  border-radius: 15px;
}
.detail-side .detail-menu{
  border-bottom:  5px dotted pink;
  padding:10px;
  font-weight: 800;
  font-size: 1.2rem;
}
.detail-side a{
  text-decoration: none;
}
.detail-side .detail-url{
  color:black;
  text-decoration: none;
  margin:20px 5px;
  padding:10px;
}
.detail-side .detail-url:hover{
  color:white;
  background-color:deeppink;
  border-radius: 5px;
  font-weight: 800;
}

/* detail.html - container */
.detail-container{
  display: grid;
  margin:auto;
  border-radius: 15px;
  padding:10px;
  font-family:Arial Narrow;
}

/* detail.html - container - cost*/
.cost-combine{
  display: grid;
  grid-template-columns: 3.3fr 1fr;
  grid-template-rows: 2fr 0.75fr;
  padding:0 30px;
}
.cost-combine .detail-graph{
  grid-column: 1/2;
  grid-row:1/2;
}
.cost-combine .detail-item{
  grid-column: 2/3;
  grid-row: 1/3;
  padding-left:10px;
}
.cost-combine .detail-trend{
  grid-column: 1/2;
  grid-row:2/3;
}
.cost-combine .detail-item h3{
  padding-top:35px; /*align with graph*/
}
.cost-combine h5{
  text-align: center;
}

.cost-combine .detail-item .detail-item1 table{
  width: 100%;
  margin-bottom:10px;
}
.cost-combine .detail-item .detail-item2 table{
  width: 100%;
}
.cost-combine .detail-trend table{
  width: 100%;
}


table, th, td {
  border: 1px solid #d4d4d4;
  border-collapse: collapse;
  font-size: 0.8rem;
  text-align: center;
  font-family:Arial Narrow;
}
.detail-graph h3{
  margin:10px 0;
}


/* detail.html - navigator */
.detail-download{
  text-align: center;
  border-radius: 15px;
  margin-bottom:30px;
}
.detail-download .title{
  padding:10px;
  font-weight: 800;
  font-size: 1.2rem;
}
.detail-download .content{
  font-size: 1rem;
  cursor:pointer;
  padding:10px;
  border-radius: 10px;
  text-align: center;
}
.detail-download a{
  text-decoration: none;
  color:black;
}
.detail-download .download-file{
  width:100%;
  border-radius:5px;
}
.detail-download .download-file:hover{
  color:white;
}

.detail-comment{
  text-align: center;
  border:5px dotted #10abff80;
  border-radius: 15px;
}
.detail-comment .title{
  margin:0 auto;
  padding:10px;
  font-weight: 800;
  font-size: 1.2rem;
}
.detail-comment .content{
  text-transform: capitalize;
  padding-top:10px;
  border-top:5px dotted #10abff80;
}
.detail-comment textarea{
  margin-top:10px;
  width:90%;
  height: 12vh;
  border-radius: 15px;
  border:3px solid #65c9ff;
  font-size:0.9rem;
  font-weight: 500;
}
.detail-comment textarea:hover{
  color:black;
  background-color: #bbe7ff;
}
.detail-individual{
  border-radius:10px;
  border:2px solid #10abff;
  background-color: #bbe7ff;
  text-align: left;
}
.detail-individual {
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding:5px 10px;
  font-size: 0.9rem;
}
.detail-individual .right{
  grid-column: 1;
  grid-row: 1;
}
.detail-individual .left{
  grid-column: 2;
  grid-row: 1;
  font-size: 0.7rem;
  text-align: right;
}
.detail-individual .bottom{
  grid-column: 1;
  grid-row: 2;
  font-size: 0.8rem;
}
.detail-individual-space{
  color:white;
  font-size: 0.5rem;
}
.detail-comment input{
  padding:5px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom:10px;
  border:3px solid deepskyblue;
  background-color:#10abff;
  color:white;
  border-radius: 5px;
}
.detail-comment input:hover{
  color:#10abff;
  background-color: white;
  cursor:pointer;
  font-weight: 600;
}
.detail-comment label{
  display: none;
}

/* category.html - container */
.category-title{
  color:#F08080;
  font-weight: 1000;
  font-size:2.5rem;
  text-align: center;
}
.category{
  text-align: center;
  margin-top:0! important;
}
.category-name{
  text-align: center;
  font-size: 3rem;
}
.category a{
  text-decoration:none;
  margin-top: 50px;
}
.category .category-detail{
  color:black;
  margin: auto;
  width:30%;
  margin:5px auto;
  padding:10px;
  font-size:1rem
}
.category .category-detail:hover{
  filter:brightness(80%);
  margin:10px auto;
  border:3px solid black;
  font-weight: 1000;
}
.category .category-detail .title{
  font-size: 1.1rem;
  font-weight: 800;
}
.category .category-detail .date{
  font-size:0.8rem;
}

#bom{
  background-color: rgb(215, 222, 250);
}
#cost{
  background-color:rgb(239, 215, 250);
}
#vi{
  background-color: rgb(215, 250, 244);
}

/* comming page category */
.category-soon{
  background-color: rgb(215, 250, 244);
  padding:50px 0;
  border-radius:15px;
}
.category-soon h1{
  text-align: center;
  color:rgb(199, 58, 218);
  font-size: 3rem;
  font-weight: bolder;
}

.category-soon h3{
  text-align: center;
  color:navy;
  font-weight: 1800;
  text-transform: capitalize;
}

/* comming page category-2 */
.category-soon2{
  font-size: 5rem;
  text-align: center;
  color: #fcedd8;
  background-color:  #6868AC;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  padding:40px 0 30px 0;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
    border-radius: 15px;
}
.category-soon2 img{
  border-radius: 15px;
}
