{% extends 'report_cost_base.html' %}

{% block title %}VI Activity{% endblock %}

{% block container %}
    <div class="category-soon">
        <h1>Coming Soon</h1>
        <center><img width="200" height="200" src="https://img.icons8.com/external-photo3ideastudio-gradient-photo3ideastudio/250/external-experience-digital-business-photo3ideastudio-gradient-photo3ideastudio.png" alt="external-experience-digital-business-photo3ideastudio-gradient-photo3ideastudio"/></center>
        <h3>After Launching, email sending sharing related members.
            <br/>Thank you ! 
        </h3>
    </div>
{% endblock %}